<div class="container">
  <div class="row justify-content-center">
    <h1>Ask a question to your Coach</h1>
    <form action="/answer" data-turbo="false">
      <input type="text" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>
</div>
</div>
